
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin-bottom: 100px;

  footer {
    margin-bottom: 0 !important;
    margin-top: 20px;
  }
}
